<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
  <p>{{message}}</p>
  <img class="portrait" src="/img/young-steve-jobs-1_0.jpg">

    </div>
    {{>footer}}
     
</body>

</html>